.three-keys {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%; /* Constrain the overall width */
  margin: 0 auto; /* Center the entire section horizontally */
  padding: 10px 0; /* Add vertical padding */
  box-sizing: border-box; /* Include padding in the width */
}

.three-keys.rt-Flex {
  justify-content: space-between !important; /* Center the content and override flex-start */
}

.key-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  justify-content: space-around;
  box-sizing: border-box; /* Prevent overflow due to padding */
}

.key-title {
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 15px;
  font-family: anton;
}

.key-gif {
  max-width: 100%; /* Ensure GIF fits within the section */
  height: 160px;
  margin-bottom: 15px;
}

.key-explanation {
  font-size: 1.6rem;
  height: 80px;
}

@media (max-width: 768px) {
  .three-keys {
    flex-direction: column; /* Stack mini sections vertically */
    align-items: center;
    width: 100%; /* Take up full width on small screens */
    gap: 100px; /* Add spacing between stacked subsections */
  }

  .key-section {
    width: 90%; /* Make each section take most of the screen width */
  }
}
