html, body, #root {
  height: 100%; /* Ensure the root container spans the full viewport */
  padding: 0;
  margin: 0;
}

.main-container {
  margin: 0;
  height: 100%; /* Full height of the parent (#root) */
  width: 100%; /* Full width */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.body-container {
  height: calc(100% - 80px); /* Subtract the margin-top for proper sizing */
  width: 100%; /* Full width */
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  flex: 1; /* Grow to fill remaining space */
}
